this
  font-family: "Arial"

.mainapp
  color: black
  background-color: #A7DBD8
  display: block
  padding: 20px
  padding-bottom: 10px
  width: 230px
  top: 10%
  left: 20%
  position: absolute

h2
  margin-top: 0px
  color: #000000
