[data-asf-component='com.RMS.ToDoApp.InputForm@0.0.1'] {
  padding: 10px;
}

[data-asf-component='com.RMS.ToDoApp.InputForm@0.0.1'] .submit-task-input input {
  width: 100%;
}

[data-asf-component='com.RMS.ToDoApp.InputForm@0.0.1'] .submit-button {
  float: right;
  padding: 5px;
}

[data-asf-component='com.RMS.ToDoApp.InputForm@0.0.1'] .remove-task {
  padding: 5px;
}